/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.component {
  background-color: white;
}
.container {
    height: 100vh;
    overflow: auto;
  padding: 0 !important;
  margin: 5px !important;
}
